
/* Start Header */

header#header{
    min-height: auto;
    position: relative;
    background-image:linear-gradient(30deg, #283a60d6 0%, rgb(51, 55, 64) 100%), url(../images/main_banner.webp);
    background-color: var(--brand-color);
    background-position: right center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}
#header .main-banner .content{
    padding:100px 0;
    text-align: center;
}
#header .main-banner .content h1{
    font-size:80px;
    font-weight: bold;
    color:#FFF;
    font-family:"Tajwal",sans-serif;   

}
@media (max-width:600px) {
    #header .main-banner .content h1{
        font-size: 60px;
    }
    
}


/* End Header Style */


/* Start contact-us Section */
.contact-us{
    padding: 100px 0;
    overflow: hidden;

}

/* .contact-us::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-image: url(../images/shape.webp);
    background-repeat: repeat;
    } */

@media (max-width:767px) {
    .contact-us{
        padding: 60px 0 ;
    }
}
.contact-us .contact-info > div{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 25px;
    border: 1px solid #EEE;
    border-radius: 20px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    margin-bottom: 20px;

   
}
.contact-us .contact-info > div:hover{
    background-color: #f2f5ff;
    transition: all .4s ease-in-out;

}
.contact-us .contact-info > div *{
    font-family:"Tajwal-medium",sans-serif;;

    
}
.contact-us .contact-info>div .icon{
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 50%;
}


  
.contact-us .contact-form{
    font-family:"Tajwal-medium",sans-serif;;
    background: #ffffff;
    box-shadow: 0 0 80px #1f1e452e;
    border-radius: 16px;
    padding: 70px 20px;


}

.contact-form .form-group input{
    display: block;
    width: 100%;
    padding: 15px ;
    border-radius: 12px;
    outline: none;
    background-color: #FFF;
    border: 2px solid #EEE;
    /* box-shadow: 0 0 15px #e4e4e4; */
    transition: border .4s ease-in-out;
}
.contact-form .form-group textarea{
    display: block;
    width: 100%;
    padding: 15px ;
    border-radius:12px;
    outline: none;
    background-color: #FFF;
    border: 2px solid #EEE;
    /* box-shadow: 0 0 15px #e4e4e4; */
    transition: border .4s ease-in-out;
    height: 120px;

}
.contact-form .form-group label{
    margin-bottom: 10px;
}
.contact-form .form-group .error-message{
    color: rgb(219, 15, 15);
    font-size: .8rem;
}
.contact-form .form-group input:focus,
.contact-form .form-group textarea:focus{
    border-color: var(--secondary-color);
}
.contact-form .form-group input:focus::-webkit-input-placeholder,
.contact-form .form-group textarea:focus::-webkit-input-placeholder{
    font-size: 14px;

}
::-webkit-input-placeholder{
    transition: all .4s ease-in-out;
}
.contact-form .brand-btn{
    font-family:"Tajwal-medium",sans-serif;;
    text-decoration: none;
    outline: none;
    width: 100%;
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
    background-image: var(--linear-gradient);
    color: #FFF;
}
.contact-form .brand-btn .animation span{
    
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    background: #FFF;
    border-radius: 50%;
  
   }
   .contact-form .brand-btn .animation span:nth-of-type(1){
    animation: moving 1s linear 0s infinite;
   }
   .contact-form .brand-btn .animation span:nth-of-type(2){
    animation: moving 1s linear 0.3s infinite;
   }
   .contact-form .brand-btn .animation span:nth-of-type(3){
    animation: moving 1s linear .6s infinite;
   }

   @keyframes moving {
    0%{
      transform: translateY(0);
    }
    50%{
      transform: translateY(-15px);
    }
    0%{
      transform: translateY(0);
    }
    
   }
/* End contact-us Section */
